<ion-content class="ion-padding">
  <!-- NO PERSISTENCIA DE DATOS - SOLO PRUEBA DE UI -->
  <!-- <div *ngFor="let ads of data" class="ad-container">
    <ion-list>
      <ion-item>
        <div class="info-container">
          <ion-img 
          [src]="ads.image">
        </ion-img>
        <h2>{{ads.title}}</h2>
        <p>{{ads.date | date:'longDate':'es'}}</p>
        <ion-button>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div> -->
  <!-- PERSISTENCIA DE DATOS -->
  <div *ngFor="let ad of ads()" class="ad-container">
    <ion-list>
      <ion-item>
        <div class="info-container">
          <ion-img 
          [src]="ad.imageRoute">
        </ion-img>
        <!-- Insertar title - DB-->
        <h2>{{ad.title}}</h2>
        <!-- insertar fecha de creación - DB -->
        <p></p>
        <ion-button>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
